.menu-categories {
  background-color: #FFFFFF;
  width: 100%;
  ;
  padding: 26px;
}

.menu-categories nav {
  max-width: 1068px;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 16px 0;
  opacity: 1;
}

.menu-categories nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.menu-categories nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  line-height: 32.4px;
  font-size: 18px;
  gap: 12px;
  color: #292929;
}
