.cards {
  margin: 68px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Mobilde alt alta gelsin */
}

.cards-box {
  max-width: 350px; /* Mobil uyumlu */
  width: 100%;
  display: flex;
  flex-direction: column; /* Mobilde dikey */
  gap: 11px;
}

.card-left,
.cards-right {
  max-width: 350px; /* Kart max genişliği 350px */
  width: 100%;
  border-radius: 12px;
}

.card-left img,
.card-top img {
  width: 100%;
  height: auto;
}

.card-left-text h2 {
  font-size: 36px; /* Küçük ekran için fontu küçült */
  line-height: 42px;
}

.card-left-text p {
  font-size: 16px;
}

.card-right-top-text h3,
.card-right-bottom-text h3 {
  font-size: 20px;
  line-height: 28px;
}

.btn {
  width: 100%;
  max-width: 138px;
  height: 48px;
  font-size: 14px;
}
