/*Product*/
.product-section {
  max-width: 1068px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

}

.text-1 {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 44.27px;
  text-align: center;
  vertical-align: middle;
  color: #CE2829;
}

.text-box h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 56.2px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #292929;
}

.product-nav {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.product-nav button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  opacity: 1;
  transform: rotate(0deg);
  background-color: #FFFFFF;
}

.product-nav button:hover {
  background-color: #292929;
  color: #FFFFFF;
}

.product-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 30px;

}

.product {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product h3 {
  display: flex;
  justify-content: flex-start;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 29.44px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #292929;
}

.product-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-detail {
  display: flex;
  justify-content: space-between;
}

.item {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #1B1B1BB2;
}

.item-2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.76px;
  letter-spacing: 0;
  text-align: right;
  vertical-align: middle;
  color: #292929;
}
