.footer-end {
  border-top: 1px solid #333333;
  width: 100%;
  padding: 32px 48px;
  background-color: #1A1A1A
}

.footer-box-2 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-box-2 p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #FFFFFF;
}

.fa-twitter {
  color: white;
}